HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/
FoodBuddy_DevRole/.DS_Store
FoodBuddy_DevRole/backEnd/.DS_Store
/.metadata/
FoodBuddy_DevRole/FrontEnd/package-lock.json
FoodBuddy_DevRole/FrontEnd/node_modules
package-lock.json
.DS_Store
../../node_modules/
 ../../package.json
 ../../.DS_Store
package-lock.json
../../.gitignore
src/static/
../../node_modules/
../../package.json





